## This notebook is about the search of a list of MRN number in another list

### Import the dependencies

In [1]:
import pandas as pd
import sqlite3

### Connect to the database

In [2]:
conn = sqlite3.connect('list.db')
cur = conn.cursor()

%reload_ext sql
%sql sqlite:///list.db

### Import the files as a dataframe

In [7]:
request = pd.read_excel('plan.xlsx', sheet_name='first')
request.to_sql('plan', conn, if_exists='replace', index=False)
conn.commit()
#print(request.head(5))

export = pd.read_excel('export_list.xlsx', sheet_name='list')
#export.head(5)

### Query the database to count the number of samples

In [54]:
%%sql

SELECT DISTINCT MRN_NO, COUNT(MRN_NO) as NUM_SAMPLES FROM request WHERE no_sample = 0 GROUP BY MRN_NO;

 * sqlite:///list.db
Done.

[('M168867', 4),
 ('M262597', 3),
 ('M284302', 2),
 ('M489804', 4),
 ('M509175', 4),
 ('M511995', 5),
 ('M520426', 2),
 ('M603017', 4),
 ('M604071', 4),
 ('M605081', 4),
 ('M619670', 4),
 ('M623221', 4),
 ('M629221', 4),
 ('M632593', 4),
 ('M639100', 4),
 ('M643962', 3),
 ('M666995', 4),
 ('M669034', 4),
 ('M681074', 3),
 ('M686410', 4),
 ('M687331', 3),
 ('M687510', 4),
 ('M729845', 4),
 ('M731568', 4),
 ('M749996', 3),
 ('M754536', 4),
 ('M758009', 4),
 ('M768688', 2),
 ('M779917', 2),
 ('M785733', 4),
 ('M815614', 4),
 ('M827580', 4),
 ('M844696', 4),
 ('M846211', 4),
 ('M865268', 4),
 ('M887721', 4),
 ('M888242', 4),
 ('M891512', 4),
 ('M904651', 4),
 ('M919987', 3),
 ('M935999', 3),
 ('M939806', 4),
 ('M940685', 4),
 ('M972106', 4),
 ('M978782', 4),
 ('M981808', 4),
 ('M994159', 4),
 ('N023008', 3),
 ('N036305', 4),
 ('N063406', 4),
 ('N067695', 4),
 ('N086197', 4),
 ('N119178', 4),
 ('N128077', 4),
 ('N134646', 4),
 ('N137960', 4),
 ('N178442', 4),
 ('N198781', 4),
 ('N201497', 3),
 ('N220029', 2),
 ('N222750', 4),
 ('N227290', 4),
 ('N227450', 4),
 ('N231714', 2),
 ('N244582', 5),
 ('N255443', 3),
 ('N311267', 4),
 ('N322078', 3),
 ('N395672', 2),
 ('N420068', 3),
 ('N500738', 3),
 ('N512806', 4),
 ('N520339', 4),
 ('N541523', 2),
 ('N545311', 4),
 ('N551401', 4),
 ('N577836', 3),
 ('N583919', 5),
 ('N594140', 4),
 ('N612669', 4),
 ('N627900', 3),
 ('N639218', 4),
 ('N669014', 4),
 ('N672214', 1),
 ('N674887', 3),
 ('N686190', 4),
 ('N695967', 4),
 ('N723836', 3),
 ('N734977', 3),
 ('N751352', 4),
 ('N754733', 5),
 ('N759608', 3),
 ('N769016', 5),
 ('N770031', 3),
 ('N774052', 4),
 ('N774258', 4),
 ('N778370', 2),
 ('N780797', 4),
 ('N782377', 4),
 ('N794916', 4),
 ('N795645', 5),
 ('N810515', 4),
 ('N820166', 4),
 ('N820212', 2),
 ('N820290', 4),
 ('N834961', 4),
 ('N843702', 5),
 ('N846548', 2),
 ('N849251', 2),
 ('N857367', 2),
 ('N858250', 4),
 ('N867529', 4),
 ('N869137', 3)]

### Query the database to create a new dataframe with num_samples

In [61]:
# Execute the SQL query
# cur.execute("SELECT DISTINCT MRN_NO, COUNT(MRN_NO) as NUM_SAMPLES FROM request WHERE no_sample = 0 GROUP BY MRN_NO;")
cur.execute("SELECT DISTINCT MRN_NO, COUNT(MRN_NO) as NUM_SAMPLES FROM request GROUP BY MRN_NO;")

# Fetch the results of the query
results = cur.fetchall()

# Get the column names from the cursor description
columns = [column[0] for column in cur.description]

# Convert the results into a pandas DataFrame
df = pd.DataFrame(results, columns=columns)

# Don't forget to close the connection when you're done
# conn.close()

df.rename(columns={'MRN_NO': 'MRN'}, inplace=True)
df.head(5)

       MRN  NUM_SAMPLES
0  M168867            5
1  M262597            3
2  M284302            4
3  M489804            4
4  M509175            4

### Create a for loop to loop through `export` and search every MRN in `request`

In [62]:
for i in range(len(export)):
    id = export.loc[i, 'MRN']

    row_number = df.index[df['MRN'].eq(id)]

    if not row_number.empty:
        export.loc[i, 'status'] = 'found'
        export.loc[i, 'num_samples'] = df.loc[row_number[0], 'NUM_SAMPLES']
    else:
        # print('MRN not found:', id)
        export.loc[i, 'status'] = 'not found'
        export.loc[i, 'num_samples'] = 'NULL'

print(len(export))

export.to_excel('result.xlsx', sheet_name='list', index=False)
# not_found.to_excel('not_found.xlsx', sheet_name='list', index=False)

229

In [63]:
conn.close()

## Mark the list in the plan